.App{
  background: rgb(19, 36, 68);
  height: 100vh;
  color:white;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 30px 10%;
  background:rgb(62, 117, 219);

}
.logo{
  cursor: pointer;
}
